BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
PointerAlignment: Right
ColumnLimit: 120
NamespaceIndentation: None
SortIncludes: false
UseTab: Always
TabWidth: 4
BinPackParameters: false
BinPackArguments: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true
BreakAfterJavaFieldAnnotations: false
BreakConstructorInitializersBeforeComma: true
ContinuationIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: false
ExperimentalAutoDetectBinPacking: false
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
ReflowComments: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
AlwaysBreakTemplateDeclarations: Yes # Added to ensure template declarations break before the function/class definition
