# Ignore everything
*

# Allow subdirectories and empty directories containing .gitkeep
!/**/
!**/.gitkeep

# Allow directories (and their contents) ending with .xyz or .com
!*.xyz/
!*.com/

# Except for these directories (and their contents)
!.gitignore

# Except for these file types in any directory
!**/*.c
!**/*.cpp
!**/*.html
!**/*.cgi
!**/*.h
!**/*.hpp
!**/*.md
!**/*.pdf
!**/*.txt
!**/*.sh
!**/*.py
!**/*.json
!**/*.jpg
!**/*.yml

# Specific files and directories to include
!Makefile
!.github/
!.clang-format
!.vscode/
!.cgi-bin/
!docs/
!tests/
!webserv.conf
!tests/
!*.test

# Exclude specific files or directories
/secretus/
/a.out
**/*.o
largefile  # so we don't pull and push 100mb file
testers/myenv/
testers/testsvenv/
