# Ignore everything
*

# Except for these directories (and their contents)
!.gitignore
!/**/

# Except for these file types in any directory
!**/*.c
!**/*.cpp
!**/*.html
!**/*.cgi
!**/*.h
!**/*.hpp
!**/*.md
!**/*.pdf
!**/*.txt
!**/*.sh
!**/*.py
!**/*.json
!**/*.yml

# Specific files and directories to include
!Makefile
!.github/
!.clang-format
!.vscode/
!.cgi-bin/
!docs/
!tests/
!config
!tests/
!*.test

# Exclude specific files or directories
/secretus/
/a.out
**/*.o